.App {
  text-align: center !important;
}
body {
  background-color: #6e6e80;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name-input,
.name-input ::placeholder {
  height: 6vh !important;
  font-size: 2vh;
  color: wheat;
  background-color: black;
  border: black;
}

#chats{
  height: 560px;
  overflow-y: auto;
  display: flex!important;
  text-align: justify;
  margin-top: 4em!important;
}

.chat-content {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 10px;
}

.icon {
  font-size: 1.2em;
  padding: 1em;
  padding-top: 0.4em;
  color: white;
}

.add-ins ul {
  display: flex;
  list-style: none;
  margin-left: -39px !important;
  position: relative;
}

#name {
  min-height: 7vh !important;
}

.button-list {
  display: inline-block !important;
  margin-right: 10px !important;
}

.add-ins .icon {
  padding: 5px;
  margin-left: 0.5em;
}

#logout-div{
  position: fixed!important;
  right: 0!important;
  top: 0!important;
  margin-right: 8em!important;
}

#chat-input-box{
  background-color: black;
}

@media (max-width: 796px) {
  .icon {
    padding: 0.5em;
    font-size: 1.2em;
  }
}

@media (max-width: 440px) {
  .icon {
    padding: 0.3em;
    font-size: 0.9em;
  }
  #logout-div{
    margin-right: 4em!important;
  }
}

